
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kitap Ekle</h2>
<form method="post">
    Kitap Adı: <input type="text" name="kitapAdi" /><br />
    Yazar: <input type="text" name="yazar" /><br />
    Fiyat: <input type="text" name="fiyat" /><br />
    Tarih: <input type="date" name="tarih" /><br />
    <button type="submit">Ekle </button>
</form>