
@{
    ViewBag.Title = "Giris";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Giriş Sayfası</h2>

<div class="row">
    <form method="post">
        Kullanıcı Adı: <input type="text" name="kullaniciAdi" /><br />
        Şifre: <input type="password" name="sifre" /><br />
        <button type="submit">Giriş Yap</button>
    </form>
</div>
